<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>쿠폰 사용내역</title>

</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

    <div layout:fragment="content">
        <h2>Used Coupons</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Coupon Name</th>
                <th>Used Date</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            </thead>
            <tbody>
            <!-- Thymeleaf Loop to display each UsedCouponDTO -->
            <tr th:each="usedCoupon : ${usedCouponList}">
                <td th:text="${usedCoupon.couponName}">Coupon Name</td>
                <td th:text="${usedCoupon.usedDate}">Used Date</td>
                <td th:text="${usedCoupon.startDate}">Start Date</td>
                <td th:text="${usedCoupon.endDate}">End Date</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>