<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="utf-8">
    <title>home</title>
</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

<header>
    <h1>사용자 쿠폰 목록</h1>
</header>

<div th:if="${not #lists.isEmpty(userCouponList) and userCouponList != null}">
    <div th:each="coupon : ${userCouponList}">
        <div th:if="${coupon.couponName != null}">
            <span th:text="'쿠폰명: ' + ${coupon.couponName}"></span>
        </div>

        <div th:if="${coupon.needCost != null}">
            <span th:text="'필요한 비용: ' + ${coupon.needCost}"></span>
        </div>

        <div th:if="${coupon.maxSale != null}">
            <span th:text="'최대 할인액: ' + ${coupon.maxSale}"></span>
        </div>

        <div th:if="${coupon.salePercent != null}">
            <span th:text="'할인 비율: ' + ${coupon.salePercent}"></span>
        </div>

        <div th:if="${coupon.saleAmount != null}">
            <span th:text="'할인 금액: ' + ${coupon.saleAmount}"></span>
        </div>

        <div th:if="${coupon.startDate != null}">
            <span th:text="'사용 시작일: ' + ${coupon.startDate}"></span>
        </div>

        <div th:if="${coupon.endDate != null}">
            <span th:text="'사용 종료일: ' + ${coupon.endDate}"></span>
        </div>

        <!-- 해당 책만 사용 가능 항목 -->
        <div th:if="${coupon.bookIdList != null and not #lists.isEmpty(coupon.bookIdList)}">
            <span th:text="'해당 책만 사용 가능:  '"></span>
            <span th:each="bookId, iterStat : ${coupon.bookIdList}"
                  th:text="${bookId} + (${iterStat.last} ? '' : ',')"> </span>
        </div>

        <!-- 해당 카테고리만 사용 가능 항목 -->
        <div th:if="${coupon.categoryIdList != null and not #lists.isEmpty(coupon.categoryIdList)}">
            <span th:text="'해당 카테고리만 사용 가능:  '"></span>
            <span th:each="categoryId, iterStat : ${coupon.categoryIdList}"
                  th:text="${categoryId} + (${iterStat.last} ? '' : ',')"> </span>
        </div>

        <hr th:if="${#lists.size(userCouponList) >= 1}" />
    </div>
</div>

<div th:if="${#lists.isEmpty(userCouponList)}">
    <p>사용 가능한 쿠폰이 없습니다.</p>
</div>
</body>

</html>