<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-layout}">

<head>
    <meta charset="utf-8">
    <title>Admin Page</title>
</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">
<div layout:fragment="content">
    <section class="container mt-5">
        <h1 class="text-center">관리자 페이지</h1>
        <div class="mt-4">
            <p>이곳은 관리자 페이지입니다. 도서 관리, 사용자 관리 등 다양한 작업을 수행할 수 있습니다.</p>
            <ul>
                <li><a href="/books" class="btn btn-primary">도서 관리</a></li>
                <li><a href="/categories" class="btn btn-primary">카테고리 관리</a></li>
                <li><a href="/tags" class="btn btn-primary">태그 관리</a></li>
                <li><a href="/admin/coupon/create" class="btn btn-primary">쿠폰 관리</a></li>
                <li><a href="/admin/order/shipment" class="btn btn-primary">배송 관리</a></li>
                <div class="btn-wrap">
                    <li><a href="/admin/point-policies" class="btn-accent-arrow">포인트 정책<i class="icon icon-ns-arrow-right"></i></a></li>
                </div>
            </ul>
        </div>
    </section>
</div>
</body>

</html>