<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Book Search Results</title>
  <link rel="stylesheet" href="/style.css">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const toggleButtons = document.querySelectorAll('.toggle-btn');
      const heartButtons = document.querySelectorAll('.heart-button');

      heartButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
          event.preventDefault(); // 폼 제출을 막습니다.
          console.log("하트 버튼 클릭됨");

          const bookId = button.getAttribute('data-book-id');
          console.log("클릭된 책의 ID: ", bookId);

          // 버튼 비활성화
          button.disabled = true;
          console.log("버튼 비활성화");

          // 서버로 AJAX 요청 보내기
          fetch(`/books/likes/${bookId}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ bookId: bookId }) // 서버로 bookId 보내기
          })
                  .then(response => {
                    console.log("서버 응답 상태: ", response.status);  // 응답 상태 코드 출력
                    return response.text();  // JSON이 아닌 텍스트로 응답받기
                  })
                  .then(text => {
                    console.log("서버 응답 텍스트: ", text);  // 응답 텍스트 출력
                    try {
                      const liked = JSON.parse(text);  // 텍스트를 JSON으로 파싱
                      if (typeof liked !== 'boolean') {
                        throw new Error('Expected boolean value');
                      }

                      // 버튼 상태 업데이트
                      if (liked) {
                        console.log("현재 상태와 반대색으로 전환");

                        // 현재 상태를 확인하여 반대 상태로 전환
                        if (button.classList.contains('filled')) {
                          button.classList.remove('filled');
                          button.classList.add('empty');
                          button.querySelector('.heart-icon').textContent = '♡'; // 빈 하트
                        } else {
                          button.classList.remove('empty');
                          button.classList.add('filled');
                          button.querySelector('.heart-icon').textContent = '♥'; // 채워진 하트
                        }
                      } else {
                        console.error("좋아요 중 오류");
                        // 필요 시, 버튼 상태를 유지하거나 오류 메시지를 화면에 표시 가능
                      }

                    } catch (error) {
                      console.error('JSON 파싱 오류: ', error);
                    }
                  })
                  .catch(error => {
                    console.error('오류 발생: ', error);
                    alert('좋아요 기능에 오류가 발생했습니다.');
                  })
                  .finally(() => {
                    console.log("버튼 다시 활성화");
                    button.disabled = false; // 요청 후 버튼 다시 활성화
                  });
        });
      });


      toggleButtons.forEach(function(button) {
        button.addEventListener('click', function() {
          const subCategoryList = button.closest('.category-item').nextElementSibling;

          // 하위 카테고리 목록의 표시/숨김을 토글
          if (subCategoryList) {
            subCategoryList.classList.toggle('hidden');
            // 버튼 텍스트를 + 또는 -로 토글
            button.textContent = subCategoryList.classList.contains('hidden') ? '+' : '-';
          }
        });
      });
    });
  </script>

</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

<div layout:fragment="content">
  <section id="billboard">
    <h1>Book Search Results</h1>
    <form class="search-form" method="get" action="/books/search">
      <input type="text" name="keyword" id="keyword" placeholder="검색어를 입력하세요" >

      <input type="hidden" name="pageNum" value="1">
      <div>
        <label><input type="radio" name="type" value="title" id="searchByTitle" checked> 제목으로 검색</label>
        <label><input type="radio" name="type" value="author" id="searchByAuthor"> 저자 이름으로 검색</label>
      </div>
      <button type="submit">검색</button>
    </form>

    <div>
      <a href="#" th:href="@{/books/search(type=${type}, keyword=${keyword}, pageNum=1, orderBy='publishdate', orderDirection='desc')}" class="sort-button">신상품</a>
      <a href="#" th:href="@{/books/search(type=${type}, keyword=${keyword}, pageNum=1, orderBy='saleprice', orderDirection='asc')}" class="sort-button">최저가</a>
      <a href="#" th:href="@{/books/search(type=${type}, keyword=${keyword}, pageNum=1, orderBy='saleprice', orderDirection='desc')}" class="sort-button">최고가</a>
      <a href="#" th:href="@{/books/search(type=${type}, keyword=${keyword}, pageNum=1, orderBy='reviewCount', orderDirection='desc')}" class="sort-button">리뷰 수</a>
      <a href="#" th:href="@{/books/search(type=${type}, keyword=${keyword}, pageNum=1, orderBy='reviewrating', orderDirection='desc')}" class="sort-button">평점</a>
    </div>

    <div class="search-results">

      <div class="category-container" th:if="${categories != null}">
        <h2>카테고리</h2>
        <div class="treeview">
          <ul class="category-list">
            <!-- 최상위 카테고리 출력 -->
            <li th:each="category : ${categories}">
              <div class="category-item">
                <span class="toggle-btn">+</span>
                <a th:href="'/books/search?type=category&keyword=' + ${category.id} + '&pageNum=1&orderBy=salePrice&orderDirection=desc'"
                   th:text="${category.name}"></a>
              </div>
              <!-- 하위 카테고리 출력 (재귀 호출) -->
              <ul th:if="${category.children != null and #lists.size(category.children) > 0}" class="sub-category hidden">
                <li th:each="subCategory : ${category.children}">
                  <div class="category-item">
                    <span class="toggle-btn">+</span>
                    <a th:href="'/books/search?type=category&keyword=' + ${subCategory.id} + '&pageNum=1&orderBy=salePrice&orderDirection=desc'"
                       th:text="${subCategory.name}"></a>
                  </div>
                  <!-- 하위의 하위 카테고리 출력 -->
                  <ul th:if="${subCategory.children != null and #lists.size(subCategory.children) > 0}" class="sub-category hidden">
                    <li th:each="subSubCategory : ${subCategory.children}">
                      <div class="category-item">
                        <span class="toggle-btn">+</span>
                        <a th:href="'/books/search?type=category&keyword=' + ${subSubCategory.id} + '&pageNum=1&orderBy=salePrice&orderDirection=desc'"
                           th:text="${subSubCategory.name}"></a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>


      <div class="book-container" th:if="${books.size()>=1}">
        <h2>책 목록</h2>
        <div class="book-card" th:each="book : ${books}">
          <div class="book-image-container">
            <img th:src="${book != null && book.imgPath != null ? book.imgPath : '/static/images/default.png'}" alt="Book Image" class="book-image">

            <!-- 하트 버튼을 클릭하여 AJAX 요청을 보내는 방식으로 변경 -->
            <button type="button" class="heart-button"
                    th:data-book-id="${book.id}"
                    th:classappend="${book.liked ? 'filled' : 'empty'}">
              <span class="heart-icon" th:text="${book.liked ? '♥' : '♡'}"></span>
            </button>



          </div>
          <div class="book-details">
            <h2><a th:href="@{/books/{bookId}(bookId=${book.id})}" th:text="${book.title}"></a></h2>
            <p><strong>출판사:</strong> <span th:text="${book.publisherName}"></span></p>
            <p><strong>출판일:</strong> <span th:text="${book.publishDate}"></span></p>
            <div class="price">
              <span class="sale-price" th:text="${book.salePrice} + '원'"></span>
              <span class="regular-price" th:text="${book.regularPrice} + '원'"></span>
            </div>
            <p><strong>저자:</strong>
              <span th:each="author, iterStat : ${book.authors}">
            <span th:text="${author.name}"></span>
            <span th:if="${iterStat.index < book.authors.size() - 1}">, </span>
        </span>
            </p>

            <div class="star-rating">
              <span th:each="i : ${#numbers.sequence(1, 5)}" th:classappend="${i <= book.reviewRating ? 'filled' : ''}">★</span>
              <span th:text="${book.reviewRating}"></span>
              <span> (리뷰 수 : <span th:text="${book.reviewCount}"></span>)</span>
            </div>

            <div class="action-buttons">
              <div class="quantity-and-buttons">
                <!-- 숫자 선택 바 -->

                <!-- 장바구니와 바로구매 버튼 -->
                <form method="post" action="/cart" class="action-form">
                  <input type="hidden" name="bookId" th:value="${book.id}">
                  <!-- quantity 값을 input 태그로 전송 -->
<!--                  <input type="hidden" name="quantity" value="1" id="cartQuantity">-->
                  <input type="number" name="quantity" value="1" min="1" required>
                  <button type="submit" th:disabled="${!book.isSale}" th:classappend="${!book.isSale ? 'disabled-button' : ''}">장바구니에 추가</button>
                </form>

                <form method="get" action="/order/direct/checkout" class="action-form">
                  <input type="hidden" name="book-id" th:value="${book.id}">
                  <input type="hidden" name="quantity" value="1" id="checkoutQuantity">
                  <button type="submit" th:disabled="${!book.isSale}" th:classappend="${!book.isSale ? 'disabled-button' : ''}">바로구매하기</button>
                </form>

              </div>
            </div>
          </div>


        </div>
      </div>
      <!-- 책이 없을 경우 메시지를 표시 -->
      <div class="no-books-message" th:if="${books == null or books.size() == 0}">
        <p th:text="${message}"></p>
      </div>
        </div>

    </section>
  <div class="pagination">
    <!-- 이전 페이지 링크 -->
    <a href="#"
       th:href="@{/books/search(type=${type}, keyword=${keyword}, pageNum=${currentPage != null && currentPage > 1 ? currentPage - 1 : 1}, orderBy=${orderBy}, orderDirection=${orderDirection})}"
       th:class="${currentPage != null && currentPage > 1 ? '' : 'disabled'}">이전</a>

    <!-- 페이지 번호들 -->
    <span th:with="pages=${totalPages != null ? #numbers.sequence(1, totalPages) : #numbers.sequence(1, 1)}">
        <span th:each="i : ${pages}">
            <a href="#" th:href="@{/books/search(type=${type}, keyword=${keyword}, pageNum=${i}, orderBy=${orderBy}, orderDirection=${orderDirection})}"
               th:text="${i}" th:class="${i == currentPage ? 'active' : ''}"></a>
        </span>
    </span>

    <!-- 다음 페이지 링크 -->
    <a href="#"
       th:href="@{/books/search(type=${type}, keyword=${keyword}, pageNum=${currentPage != null && currentPage < (totalPages != null ? totalPages : 1) ? currentPage + 1 : (totalPages != null ? totalPages : 1)}, orderBy=${orderBy}, orderDirection=${orderDirection})}"
       th:class="${currentPage != null && currentPage < (totalPages != null ? totalPages : 1) ? '' : 'disabled'}">다음</a>
  </div>


</div>

</body>
</html>
