<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage-sidebar</title>
</head>
<body>
<!-- 좌측 사이드바 -->
<div th:fragment="sidebar">
    <div class="section-box mb-4 card w-80">
        <div class="card-body rounded text-center" style="background-color: #F3F2EC">
            <img src="https://via.placeholder.com/80" alt="User Profile" class="rounded-circle my-2"><br>
            <span id="user-id" hidden="hidden" th:attr="data-user-id=${user.id}"></span>
            <span id="user-name" class="fw-bold fs-5" th:text="${user.getName()}">이름</span><span>님</span>
            <span class="badge bg-success" th:text="${user.getRankName()}">등급</span>
            <div class="d-flex justify-content-center mt-3">
                <div class="me-3">
                    <span>찜</span><br>
                    <strong>0</strong>
                </div>
                <div>
                    <span>리스트</span><br>
                    <strong>0</strong>
                </div>
            </div>
        </div>
    </div>

    <span class="px-3">마이 쇼핑</span>
    <ul class="nav flex-column px-3 pb-3">
        <li class="nav-item">
            <a class="nav-link py-0" href="#" id="menu-orders"><span>주문/배송 조회</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0" href="#" id="menu-modifications"><span>취소/반품/교환</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0" href="/books/likes" id="menu-likes"><span>좋아요</span></a>
        </li>
    </ul>
    <span class="px-3">마이 활동</span>
    <ul class="nav flex-column px-3 pb-3">
        <li class="nav-item">
            <a class="nav-link py-0" href="#" id="menu-questions"><span>1:1문의내역</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0" th:href="@{/review/user/{userId} (userId=${user.id})}" id="menu-reviews"><span>리뷰</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0" href="/mypage/points" id="menu-points"><span>포인트 내역</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0" href="/coupon/list" id="menu-coupons"><span>쿠폰</span></a>
        </li>
    </ul>
    <span class="px-3">마이 정보</span>
    <ul class="nav flex-column px-3 pb-3">
        <li class="nav-item">
            <a class="nav-link py-0" href="#" id="menu-personal-info"><span>회원정보 수정</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0" href="/mypage/addresses" id="menu-address"><span>배송지 관리</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0" href="#" id="menu-my-rank"><span>나의 회원등급</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-0" href="#" id="menu-settings"><span>회원탈퇴</span></a>
        </li>
    </ul>

</div>
</body>
</html>