<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>BookSaw - Free Book Store HTML CSS Template</title>
    <meta charset="utf-8">
    <title>layout1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

<div id="header-wrap">

    <div class="top-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="social-links">
                        <ul>
                            <li>
                                <a href="#"><i class="icon icon-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon icon-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon icon-youtube-play"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon icon-behance-square"></i></a>
                            </li>
                        </ul>
                    </div><!--social-links-->
                </div>
                <div class="col-md-6">
                    <div class="right-element">
                        <a href="#" class="user-account for-buy"><i
                                class="icon icon-user"></i><span>Account</span></a>
                        <a href="#" class="cart for-buy"><i class="icon icon-clipboard"></i><span>Cart:(0
									$)</span></a>

                        <div class="action-menu">

                            <div class="search-bar">
                                <!-- 검색 아이콘 -->
                                <a href="#" class="search-button search-toggle" data-selector="#header-wrap">
                                    <i class="icon icon-search"></i>
                                </a>
                                <!-- 검색 폼 -->
                                <form role="search" method="get" class="search-box" action="/books/search">
                                    <input class="search-field text search-input" placeholder="Search" type="search" name="keyword">
                                    <input type="hidden" name="type" value="title">
                                    <input type="hidden" name="pageNum" value="1">
                                </form>
                            </div>

                        </div>

                    </div><!--top-right-->
                </div>

            </div>
        </div>
    </div><!--top-content-->

    <header id="header">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-2">
                    <div class="main-logo">
                        <a href="index.html"><img src="/static/images/main-logo.png" alt="logo"></a>
                    </div>

                </div>

                <div class="col-md-10">

                    <nav id="navbar">
                        <div class="main-menu stellarnav">
                            <ul class="menu-list">
                                <li class="menu-item active"><a href="#home">Home</a></li>
                                <!-- 카테고리 메뉴 추가 -->
                                <li class="menu-item has-sub" id="categoryMenu">
                                    <a href="#" class="nav-link">Categories</a>
                                    <ul id="categoryList" style="display: none;"> <!-- 초기에는 숨김 상태로 설정 -->
                                        <li th:each="category : ${categories}" data-id="${category.id}" onmouseover="loadCategoryData(category.id)">
                                            <a th:href="@{/books/search(type='category', keyword=${category.id}, pageNum=1, orderBy='salePrice', orderDirection='desc')}" th:text="${category.name}"></a>
                                        </li>


                                    </ul>
                                </li>



                                <li class="menu-item has-sub">
                                    <a href="#pages" class="nav-link">Pages</a>
                                    <ul>
                                        <li class="active"><a href="index.html">Home</a></li>
                                        <li><a href="index.html">About</a></li>
                                        <li><a href="index.html">Styles</a></li>
                                        <li><a href="index.html">Blog</a></li>
                                        <li><a href="index.html">Post Single</a></li>
                                        <li><a href="index.html">Our Store</a></li>
                                        <li><a href="index.html">Product Single</a></li>
                                        <li><a href="index.html">Contact</a></li>
                                        <li><a href="index.html">Thank You</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="#featured-books" class="nav-link">Featured</a></li>
                                <li class="menu-item"><a href="#popular-books" class="nav-link">Popular</a></li>
                                <li class="menu-item"><a href="#special-offer" class="nav-link">Offer</a></li>
                                <li class="menu-item"><a href="#latest-blog" class="nav-link">Articles</a></li>
                                <li class="menu-item"><a href="#download-app" class="nav-link">Download App</a></li>
                            </ul>

                            <div class="hamburger">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </nav>

                </div>

            </div>
        </div>
    </header>

</div><!--header-wrap-->

<!-- content 를 출력한다 -->
<th:block layout:fragment="content"></th:block>

<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4">

                <div class="footer-item">
                    <div class="company-brand">
                        <img src="/static/images/main-logo.png" alt="logo" class="footer-logo">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis sed ptibus liberolectus
                            nonet psryroin. Amet sed lorem posuere sit iaculis amet, ac urna. Adipiscing fames
                            semper erat ac in suspendisse iaculis.</p>
                    </div>
                </div>

            </div>

            <div class="col-md-2">

                <div class="footer-menu">
                    <h5>About Us</h5>
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="#">vision</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">articles </a>
                        </li>
                        <li class="menu-item">
                            <a href="#">careers</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">service terms</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">donate</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-2">

                <div class="footer-menu">
                    <h5>Discover</h5>
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Books</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Authors</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Subjects</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Advanced Search</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-2">

                <div class="footer-menu">
                    <h5>My account</h5>
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="#">Sign In</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">View Cart</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">My Wishtlist</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Track My Order</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-2">

                <div class="footer-menu">
                    <h5>Help</h5>
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="#">Help center</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Report a problem</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Suggesting edits</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Contact us</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <!-- / row -->

    </div>
</footer>

<div id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="copyright">
                    <div class="row">

                        <div class="col-md-6">
                            <p>© 2022 All rights reserved. Free HTML Template by <a
                                    href="https://www.templatesjungle.com/" target="_blank">TemplatesJungle</a></p>
                        </div>

                        <div class="col-md-6">
                            <div class="social-links align-right">
                                <ul>
                                    <li>
                                        <a href="#"><i class="icon icon-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon icon-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon icon-youtube-play"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon icon-behance-square"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div><!--grid-->

            </div><!--footer-bottom-content-->
        </div>
    </div>
</div>

<script src="/static/js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/script.js"></script>

<script>
    document.getElementById("categoryMenu").addEventListener("click", function(event) {
        // 클릭한 대상이 <a> 요소인지 확인
        if (event.target.tagName.toLowerCase() === 'a') {
            var categoryId = event.target.closest('li').dataset.id;
            loadCategoryData(categoryId); // 해당 카테고리 데이터를 불러옵니다.

            // 서브 메뉴 토글 (열기/닫기)
            var subMenu = event.target.closest('li').querySelector('ul');
            if (subMenu) {
                subMenu.style.display = (subMenu.style.display === 'block') ? 'none' : 'block';
            }
        }
    });

    let cachedCategories = {};

    function loadCategoryData(categoryId) {
        if (cachedCategories[categoryId]) {
            updateCategoryList(categoryId, cachedCategories[categoryId]);
            return;
        }

        fetch('/api/categories/' + categoryId)
            .then(response => response.json())
            .then(data => {
                cachedCategories[categoryId] = data;
                updateCategoryList(categoryId, data);
            })
            .catch(error => console.error('Error fetching category data:', error));
    }

    function updateCategoryList(categoryId, categories) {
        const parentCategory = document.querySelector(`[data-id='${categoryId}']`);
        let subCategoryList = parentCategory.querySelector('ul');

        if (!subCategoryList) {
            subCategoryList = document.createElement('ul');
            parentCategory.appendChild(subCategoryList);
        }

        subCategoryList.innerHTML = ''; // 기존 하위 카테고리 비우기

        categories.forEach(category => {
            const li = document.createElement('li');
            li.classList.add('menu-item');
            li.setAttribute('data-id', category.id);

            const a = document.createElement('a');
            // category.id를 keyword 파라미터로 추가하여 search 페이지로 이동
            a.href = `/books/search?type=category&keyword=${category.id}&pageNum=1&orderBy=salePrice&orderDirection=desc`;
            a.textContent = category.name;

            li.appendChild(a);
            subCategoryList.appendChild(li);

            // 자식 카테고리 클릭 시 하위 카테고리 로드
            li.addEventListener("click", function(event) {
                event.stopPropagation(); // 부모 메뉴 클릭 이벤트 전파 방지
                loadCategoryData(category.id); // 해당 카테고리의 하위 카테고리 로드
            });
        });
    }

</script>

</body>

</html>